
<div class="modal" ng-controller="importModelXmlCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2>{{'MODEL.IMPORT.TITLE' | translate}}</h2>
			</div>
			<div class="modal-body">


				<div class="form-group">

					<form ng-submit="uploadFile()" class="form-horizontal"
						enctype="multipart/form-data">
						<input name='filepath' id='filepath'> <span
							class="fileBtnbox"> <span class="filebtnText btn">选择文件</span>
							<input class="inputFile" type="file" name="file"
							ng-model="document.fileInput" id="file" ngf-select
							ng-change="filepathchange()" />
						</span>

					</form>



					<!-- <form action="http://localhost:8877/workflow/cesModeler/upload" method="post" enctype="multipart/form-data">  
					<input type="file" name="file" /> <input type="submit" value="Submit" /></form>   -->
				</div>

			</div>
			<div class="modal-footer">

				<div class="pull-right">
					<button type="button" class="btn" ng-click="close()"
						ng-disabled="status.loading" translate>ACTION.CANCEL</button>
					<button class="btn btn-primary" ng-click="saveAndClose()"
						ng-disabled="status.loading" ng-show="!error" translate>ACTION.SAVE-AND-CLOSE</button>

					<!-- <button class="btn btn-primary" ng-click="modifyAndClose()" ng-disabled="status.loading" ng-show="!error" translate>ACTION.MODIFY-AND-CLOSE</button> -->
				</div>

				<div class="pull-right popup-error"
					ng-if="error && !error.isConflict">
					<span>{{'MODEL.SAVE.ERROR' | translate}}</span>
				</div>

				<loading></loading>

			</div>
		</div>
	</div>