@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot?t=1484274136881'); /* IE9*/
	src: url('iconfont.eot?t=1484274136881#iefix')
		format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1484274136881') format('woff'),
		/* chrome, firefox */
  url('iconfont.ttf?t=1484274136881') format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1484274136881#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
	content: "\e600";
}

.icon-baocun:before {
	content: "\e637";
}

.icon-msnui-cut:before {
	content: "\e74c";
}

.icon-juzhongduiqi:before {
	content: "\e608";
}

.icon-cubanshipinyuanshibili:before {
	content: "\e7f8";
}

.icon-zhongxinduiqi:before {
	content: "\e61f";
}

.icon-chuangkouwindow28:before {
	content: "\e64d";
}

.icon-zhongzuo:before {
	content: "\e616";
}

.icon-bangzhu:before {
	content: "\e62f";
}

.icon-suoxiao:before {
	content: "\e63d";
}

.icon-fangda:before {
	content: "\e6af";
}

.icon-daochu:before {
	content: "\e6e1";
}

.icon-daoru:before {
	content: "\e6e2";
}

.icon-kaobeiliuchengbanben:before {
	content: "\e62b";
}

.icon-icon-baocunxinzeng:before {
	content: "\e62d";
}

.icon-zhantie:before {
	content: "\e606";
}

.icon-redo:before {
	content: "\e72d";
}