<span ng-if="property.value.dialog.dialogcontent">
	{{'PROPERTY.DIALOG.DIALOGCONTENT_DISPLAY' |
	translate:property.value.dialog }} </span>
<span ng-if="property.value.dialog.dialogcontent1">
	{{'PROPERTY.DIALOG.DIALOGCONTENT_DISPLAY1' |
	translate:property.value.dialog }} </span>
<span ng-if="property.value.dialog.dialogcontent2">
	{{'PROPERTY.DIALOG.DIALOGCONTENT_DISPLAY2' |
	translate:property.value.dialog }} </span>
<span ng-if="property.value.dialog.dialogcontent3">
	{{'PROPERTY.DIALOG.DIALOGCONTENT_DISPLAY3' |
	translate:property.value.dialog }} </span>
<span ng-if="property.value.dialog.dialogcontent4">
	{{'PROPERTY.DIALOG.DIALOGCONTENT_DISPLAY4' |
	translate:property.value.dialog }} </span>

<span ng-if="property.noValue" translate>PROPERTY.EMPTY</span>