<span ng-if="property.value.operation.dialogcontent0">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY0' |
	translate:property.value.operation }} </span>

<span ng-if="property.value.operation.dialogcontent1" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY1' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent2" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY2' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent3" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY3' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent4" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY4' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent5" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY5' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent6" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY6' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent7" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY7' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent8" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY8' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent9" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY9' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent10" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY10' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent11" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY11' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent12" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY12' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent13" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY13' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent14" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY14' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent15" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY15' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent16" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY16' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent17" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY17' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent18" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY18' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent19" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY19' |
	translate:property.value.operation }} </span>
<span ng-if="property.value.operation.dialogcontent20" ng-hide="true">
	{{'PROPERTY.OPERATION.DIALOGCONTENT_DISPLAY20' |
	translate:property.value.operation }} </span>

<span ng-if="property.value.operation.dialogcontent0 == null" translate>submitTask</span>
<span ng-if="property.noValue" translate ng-hide="true">PROPERTY.EMPTY</span>